{% extends "eat_local/base.html" %}

{% load bootstrap %}

{% block title %}Eat Local Deals{% endblock %}

{% block content %}
    <nav class="custom-navbar padded-content navbar navbar-default navbar-fixed-top">
        <a href="#">Eat Local</a>
        <form class="form-inline">
            {{ form|bootstrap_inline }}
            <div class="form-group">
                <input type="submit" class="btn btn-warning" value="Find Deals">
            </div>
        </form>
    </nav>

    <div class="padded-content">
        {% if results %}
            <div>Great Deals for {{ location }}</div>
            {% for business in results.businesses %}
                <div class="list-group">

                    <a href="{{ business.url }}" class="list-group-item active"> {{ business.name }}
                    </a>
                <span class="list-group-item">Rating: {{ business.rating }}
                </span>
                <span class="list-group-item">Deal Details:  {% for deal in business.deals %}
                    {{ deal.what_you_get|safe }}
                    </span>
                {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            No Deals Found.  Search again!
        {% endif %}
    </div>

{% endblock %}