{% load staticfiles bootstrap %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eat Local Deals</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet"
          href="{% static 'eat_local/eat_local.css' %}">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 ## google anayltics  ##
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74551607-1', 'auto');
  ga('send', 'pageview');
</script>

</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top"
>
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Eat Local</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="form-inline">
            {{ form|bootstrap_inline }}
            <div class="form-group">
                <input type="submit" class="btn btn-warning" value="Find Deals">
            </div>
        </form>
    </div><!-- /.navbar-collapse -->
</nav>

<br>

<div>
    {% if results %}
        <div>Great Deals for {{ location }}</div>
        {% for business in results.businesses %}
            <div class="list-group">

                <a href="{{ business.url }}" class="list-group-item active"> {{ business.name }}
                </a>
                <span class="list-group-item">Rating: {{ business.rating }}
                </span>
                <span class="list-group-item">Deal Details:  {% for deal in business.deals %}
                    {{ deal.what_you_get|safe }}
                    </span>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        Search for Yelp Deals in your neighborhood!
    {% endif %}
</div>
</body>
</html>