body {
    padding-top: 90px;
}

p {
    font-family: "Arial", "sans-serif";
    font-size: 20px;
}

.custom-navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.custom-navbar a {
    text-decoration: none;
    color: darkslategray;
}

.padded-content {
    margin-left: 100px;
    margin-right: 100px;
}

@media (max-width: 767px) {
    body {
        padding-top: 205px;
    }

    .padded-content {
        margin-left: 10px;
        margin-right: 10px;
    }
}
